<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>72098826413-ef8usjccmqko5e5g6l4o70k0567l19jh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.72098826413-ef8usjccmqko5e5g6l4o70k0567l19jh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>72098826413-59f8p3q6fg4qgi2gc73ksp7hfth29ieq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDLh4gLSdsi6FNwGsflCMNtE0w2QC9PkMo</string>
	<key>GCM_SENDER_ID</key>
	<string>72098826413</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.radency.radencyInternshipProject2</string>
	<key>PROJECT_ID</key>
	<string>radency-internship-2-yokoy</string>
	<key>STORAGE_BUCKET</key>
	<string>radency-internship-2-yokoy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:72098826413:ios:8b036c9a37ce6826315e24</string>
</dict>
</plist>